.Edit {
    display: flex;
    flex-direction: column;
}

.Edit .title h1 {
    color: #1D3557;
    font-size: 60px;
    margin-top: 0px;
}

.Edit .form h2 {
    margin-left: 13.5vw;
}

.Edit .form {
    display: flex;
    flex-direction: column;
}

.Edit .form .externa{
    text-align: center;
}

.Edit .form input {
    width: 275px;
    height: 50px;
    margin-bottom: 10px;

    border-radius: 10px;
    border: none;

    background-color: #F1FAEE;
    font-size: 16px;
}

.Edit .form .line1 input{
    width: 60vw;
}

.Edit .form .line2 input{
    width: 60vw;
}

.Edit .form .line3 input {
    width: 29.5vw;
}

.Edit .form .line3 .tipo {
    margin-right: 1vw;
}

.Edit .form .line4 input {
    width: 29.5vw;
}

.Edit .form .line4 .url {
    margin-right: 1vw;
}