.register {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.r-title {
    width: 336px;
    height: 108px;
    font-size: 40px;
    color: #1D3557;
    margin-bottom: 100px;
}

.r-line1 {
    display: flex;
}

.r-name {
    width: 500px;
    height: 75px;
    border-radius: 10px;
    border: none;
    margin-right: 40px;
    background: #F1FAEE;
}

.r-name::placeholder {
    padding: 20px;
    font-size: 24px;
}

.r-email {
    width: 500px;
    height: 75px;
    border-radius: 10px;
    border: none;
    background: #F1FAEE;
}

.r-email::placeholder {
    padding: 20px;
    font-size: 24px;
}

.r-line2 {
    display: flex;
    margin-top: 40px;
    
}

.r-password {
    width: 500px;
    height: 75px;
    border-radius: 10px;
    border: none;
    margin-right: 40px;
    background: #F1FAEE;
}

.r-password::placeholder {
    padding: 20px;
    font-size: 24px;
}

.r-repassword {
    width: 500px;
    height: 75px;
    border-radius: 10px;
    border: none;
    background: #F1FAEE;
}

.r-repassword::placeholder {
    padding: 20px;
    font-size: 24px;
}

.r-button {
    width: 350px;
    height: 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    background: #457B9D;
    color: #F1FAEE;
    font-size: 36px;
}

.r-button:hover {
    background-color: #1D3557 ;
    color:white;
}

.r-button input::placeholder {
    font-size: 24px;
}