.Dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.Dashboard .Sidebar {
    width: 5vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background: #F1FAEE;
}

.Dashboard .PageContent {
    width: 95vw;
    height: 100vh;
    margin: 0;
    padding: 4%;
}