.Dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.Dashboard .Sidebar {
    width: 80px;
    height: 100vh;
    margin: 0;
    padding: 0;

    background: #F1FAEE;
}

.Dashboard .PageContent {
    width: 95vw;
    height: 95vh;
    margin: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
}