.Imoveis {
    display: flex;
    flex-direction: column;
}

.Imoveis .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Imoveis .title h1 {
    color: #1D3557;
}

.Imoveis .title .pesquisar {
    width: 275px;
    height: 50px;

    border-radius: 10px;
    border: none;

    color: #F1FAEE;
    font-size: 16px;
}

.Imoveis .content {
    display: flex;
    border-radius: 10px;
    background-color: #F1FAEE;
}