 .body{
    width: 100vw;
    height: 100vh;
    position: relative;
    flex-direction: row;
    justify-content: center;
    text-align: center;
 }

.login-texto{
    font-size: 60px;
    color: #1D3557;
}


.login-email{
    width: 500px;
    height: 75px;
    border-radius: 10px;
    background-color: #F1FAEE;
}   


.login-password{
    width: 500px;
    height: 75px;
    border-radius: 10px;
    background-color: #F1FAEE;
    margin-top: 40px;
    margin-bottom: 40px;
}

.login-button{
    width: 350px;
    height: 70px;
    background: #457B9D;
    border-radius: 10px;
    cursor: pointer;
    color: #F1FAEE;
    margin-bottom: 40px;
    transition: 0.3s;
}

.texto-cadastro{
    font-size: 16px;
}

button:hover {
    background-color: #1D3557 ;
    color:white;
}

input::placeholder {
    font-size: 24px;
}

a:link {
    color: #1D3557;
}



