.login {
    width: 100vw;
    height: 100vh;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

.l-text {
    text-align: center;
    font-size: 40px;
    color: #1D3557;
    margin-bottom: 100px;
}

.l-email {
    width: 500px;
    height: 75px;
    border-radius: 10px;
    border: none;
    background-color: #F1FAEE;
}

.l-email::placeholder {
    padding: 20px;
    font-size: 24px;
}

.l-password {
    width: 500px;
    height: 75px;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #F1FAEE;
}

.l-password::placeholder {
    padding: 20px;
    font-size: 24px;
}

.l-button {
    width: 350px;
    height: 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
    background: #457B9D;
    color: #F1FAEE;
    font-size: 36px;
    transition: 0.3s;
}

.l-button:hover {
    background-color: #1D3557 ;
    color:white;
}

.l-button input::placeholder {
    font-size: 24px;
}

.l-register {
    font-size: 16px;
    color: #1D3557;
}

.l-register a {
    text-decoration: none;
    font-weight: 800;
    color: #1D3557;
}

.l-register a:link {
    color: #1D3557;
}