.cadastro{

}

.texto {
    justify-content: center;
    width: 336px;
    height: 108px;

    font-family: Poppins;
    font-size: 40px;
    color: #1D3557
}

.nome{
    width: 500px;
    height: 75px;
    background: #F1FAEE;
    border-radius: 10px;
    border: none;
}

.email{
    width: 500px;
    height: 75px;
    background: #F1FAEE;
    border-radius: 10px;
    border: none;
}

.password{
    width: 500px;
    height: 75px;
    background: #F1FAEE;
    border-radius: 10px;
    border: none;
}

.repassword{
    width: 500px;
    height: 75px;
    background: #F1FAEE;
    border-radius: 10px;
    border: none;
}

.button{
    width: 350px;
    height: 70px;
    background: #457B9D;
    border-radius: 10px;
    border: none;
    color: #F1FAEE;
}