@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.cadastro{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto {
    /* position: fixed; */
    text-align: center;
    width: 336px;
    height: 108px;
    font-size: 40px;
    color: #1D3557;
    margin-bottom: 100px;
}

.linha1{
    display: flex;
}

.nome{
    /* position: fixed; */
    width: 500px;
    height: 75px;
    background: #F1FAEE;
    border-radius: 10px;
    border: none;
    margin-right: 40px;
}

.email{
    /* position: fixed; */
    width: 500px;
    height: 75px;
    background: #F1FAEE;
    border-radius: 10px;
    border: none;
}

.linha2{
    display: flex;
}

.password{
    /* position: fixed; */
    width: 500px;
    height: 75px;
    background: #F1FAEE;
    border-radius: 10px;
    border: none;
    margin-right: 40px;
    margin-top: 40px;
}

.repassword{
    /* position: fixed; */
    width: 500px;
    height: 75px;
    background: #F1FAEE;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
}

.button{
    /* position: fixed; */
    width: 350px;
    height: 70px;
    background: #457B9D;
    border-radius: 10px;
    border: none;
    color: #F1FAEE;
    cursor: pointer;
    margin-top: 40px;
}